
header{
    background-color: #bbbbbb;
    padding: 20px 0 ;
}

.caja{

    width: 940px;
    position: relative;
    margin: 0 auto;
}


.logobanner{

    width: 300px;
    
}

nav{

    position: absolute;
    top: 110px;
    right: 0;
}


nav li {

    display: inline;/*panel de navegacion horizontal*/
    margin: 0 0 0 15px; /*margen / arriba / derecha / abajo / izquierda*/
}

nav a{

    text-transform: uppercase;/*mayuscula*/
    color: black;/*color de letas*/
    font-weight: bold; /*negrita*/
    font-size: 22px; /*letras mas grandes*/
    text-decoration: none;/*quitar subrayados*/

}

nav a:hover { /*capturar movimiento del mause en los link o imagenes*/

    color: #c78c19;


}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}



.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing:border-box;
    border: 3px solid black;
    border-radius:  10px;
    
    
}

.productos li:hover{

    border-color: #c78c19;
    
}

.productos li:active{

    border-color: #088c19;
}

.productos h2{
    font-size:  30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}
------------------------------------------------------------------------------

.descripcion{
    font-size: 18px;
}

.precio{

    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{

    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.Copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}


#banner{

    width: 100%;

}
.principal{
    background-color: #cccccc;
    padding: 20px;
}
/*ETIQUETAS EN GENERAL*/
.titulocentralizado{
text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: red;
}


/*para  ID*/
#mision{ 
    font-size: 20px;
}

.diferenciales{

    padding: 30px;

}

/*PARA CLASES */

.items{

    font-style: italic;

}

ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    width: 20%;
}

.imagendiferencial{

    width: 50%;
}

